/* styles go here */
.input_field:not(.input_last_field) {
  margin-bottom: 10px;
}

.group_field:not(.group_last_field) {
  margin-bottom: 20px;
}

label {
  display: block;
}

.inline_blk {
  display: inline-block;
}

/* input {
  border: 1px solid rgba(255, 255, 255, 0);
  background: linear-gradient(0deg, #FFFFFF 0%, #F6F6F7 100%);
} */
