/* styles go here */
.block_cover:not(.block_last_cover) {
  margin-bottom: 10px;
}

.group_field:not(.group_last_field) {
  margin-bottom: 20px;
}

/* label {
  display: block;
}

.inline_blk {
  display: inline-block;
} */

/* input {
  border: 1px solid rgba(255, 255, 255, 0);
} */
